/**
*Contenteditor.css
* @author TemplateToaster
*/
.wp-admin .editor-styles-wrapper .ttr_home_html_row0
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_home_html_column00
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column01
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column02
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column03
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}

